.Category {
  margin-top: 50px;
  color: #2e2e2e;

  ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0px;
    list-style: none;

    li {
      display: flex;
      align-items: center;
      border: 1px solid;
      border-radius: 30px;
      padding: 10px 20px;

      .icon {
        padding-right: 10px;
        font-size: 20px;
      }

      &:hover {
        background-color: #2e2e2e;
        color: #ebff00;
      }
    }
  }

  @media (max-width: 400px) {
    ul {
      flex-flow: wrap;

      li {
        padding: 5px 10px;
        margin-top: 10px;
        font-size: 15px;

        .icon {
          padding-right: 5px;
          font-size: 15px;
        }
      }
    }
  }
}
