.CreateFunding {
  display: grid;
  place-items: center;

  .create {
    display: flex;
    margin-top: 40px;

    button {
      font-family: "GangwonState";
      font-size: 20px;
      background-color: #2e2e2e;
      border: 0;
      border-radius: 5px;
      padding: 10px 20px;
      cursor: pointer;
      color: #ebff00;
    }
  }

  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #2e2e2e;
    padding: 20px 10px;
    margin-top: 50px;
    border-radius: 5px;
    width: 50%;
    font-size: 20px;

    table {
      margin: 0 auto;
      border-spacing: 0 40px;
      text-align: center;

      tr {
        align-items: center;

        .head {
          color: #2e2e2e;
          display: flex;
        }

        .input {
          border: 1px solid #2e2e2e;
          border-radius: 5px;
          padding: 10px 0;
          width: 80%;
        }

        .file {
          border: 0;
        }
      }
    }
  }
}
