.DetailPage {
  .form {
    display: flex;
    justify-content: center;
    padding-top: 20px;

    .left,
    .right {
      display: grid;
    }

    .left {
      .detail {
        .thumbnail {
          width: 500px;
        }

        .notice {
          background-color: #e9e9e9;
          border-radius: 5px;
          color: #8b8b8b;
          font-size: 12px;
          padding: 20px 5px;
        }

        .event {
          display: grid;
          border: 1px solid gray;
          border-radius: 5px;
          padding: 5px;
          font-size: 12px;

          .event_title {
            display: flex;

            .event_title_1 {
              color: #8b8b8b;
            }

            .event_title_2 {
              color: #4f5600;
              margin-left: 10px;
            }
          }

          .event_content {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
        }
      }

      .about_project {
        padding-top: 20px;
        font-size: 20px;

        .image-wrapper {
          max-height: 400px;
          overflow: hidden;

          &.is-more-view {
            max-height: none;
          }
        }

        .more-view-button-wrapper {
          position: relative;

          &::before {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 100%;
            height: 50px;
            background: linear-gradient(
                            rgba(255, 255, 255, 0) 0%,
                            rgb(255, 255, 255) 90%
            );
            content: "";
          }

          &.is-more-view::before {
            height: auto;
          }

          .project_button {
            font-family: GangwonState;
            background-color: #2e2e2e;
            color: #ebff00;
            border: 0;
            width: 500px;
            height: 50px;
            font-size: 20px;
            cursor: pointer;
          }
        }
      }
    }

    .right {
      margin-left: 50px;

      .payment_form {
        width: 350px;

        .top,
        .mid,
        .btm {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        .top,
        .btm {
          font-size: 18px;
        }

        .mid {
          font-size: 10px;
          color: #828282;
        }

        .btm {
          p {
            font-size: 13px;
          }

          .percentage,
          .dday {
            border-radius: 30px;
            padding: 3px 7px;
          }

          .percentage {
            color: #8f8f8f;
            background-color: #f2f4f6;
          }

          .dday {
            color: #ebff00;
            background-color: #2e2e2e;
          }
        }

        .pay {
          margin-top: 10px;
          display: flex;

          .payBtn {
            font-family: GangwonState;
            background-color: #ebff00;
            border: 0;
            width: 300px;
            font-size: 25px;
            padding: 5px 0;
            cursor: pointer;
          }

          .interestBtn {
            font-family: GangwonState;
            background-color: gray;
            border: 0;
            width: 50px;
            font-size: 15px;
            padding: 5px 0;
            cursor: pointer;
          }
        }
      }

      .about_instructor,
      .reward {
        margin-top: 50px;
      }
    }
  }

  .comment {
    width: 980px;
    height: 80px;
    justify-content: center;
    padding-top: 50px;
    margin: 0 auto;
    display: flex;
  }

  .commentBtn {
    height: 80px;
    margin-left: 10px;
  }
  .comments-list {
    width: 900px;
    margin:0 auto;
    display: grid;
  }
  .nicknameInput {
    width: 300px;
  }
  .comment-item {
    text-align: start;
  }

  .line {
    color: #ebff00;
  }
}

