.Footer {
  background-color: #2e2e2e;
  margin-top: 100px;

  .content {
    display: grid;
    color: white;

    .top,
    .bottom {
      padding-top: 10px;
    }

    .top {
      color: #ebff00;
      font-size: 20px;
    }

    .bottom {
      font-size: 15px;
    }

    .logo {
      text-align: end;

      img {
        width: 8%;
      }
    }
  }
}
