.banner {
  display: grid;
  height: 300px;
  background-color: #64a346;
  margin: 0px 40px 0px 40px;

  .top {
    position: relative;
    background-image: url("./../../public/assets/banner1.svg");
    background-repeat: repeat-x;
  }
  .center {
    position: absolute;
    display: flex;
    align-items: center;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0%);

    .content {
      display: grid;
      margin-right: 100px;
      padding-bottom: 50px;
      p {
        margin: 0px;
        font-size: 50px;
      }

      .content_line {
        display: flex;
      }

      .highlight {
        color: #fbb911;
      }

      hr {
        width: 200px;
        border: 0px;
        height: 3px;
        background-color: white;
      }
    }

    img {
      width: 300px;
    }
  }
}

@media (max-width: 1220px) {
  .banner {
    .center {
      top: 150px;
      left: 50%;
      transform: translate(-50%, 0%);
      .content {
        p {
          font-size: 40px;
        }
        hr {
          width: 160px;
          border: 0px;
          height: 3px;
          background-color: white;
        }
      }

      img {
        width: 200px;
      }
    }
  }
}

@media (max-width: 400px) {
  .banner {
    margin: 0px 0px 0px 0px;
    .center {
      top: 150px;
      left: 50%;
      transform: translate(-50%, 0%);
      .content {
        margin-right: 0px;
        p {
          font-size: 35px;
        }
      }

      img {
        display: none;
      }
    }
  }
}
