.emailInput,.pwInput, .nameInput, .phoneInput,.address,.addressDetailInput, .addressDetail, .signUpBtn  {
  width: 400px;
  left: 50%;
  transform: translate(-50%, 0%);
}

.addressNumber {
  //border-color: #64a346;
  border-width: 1px;
  width: 200px;
  left: 50%;
  transform: translate(-100%, 0%);
}

.container {
  display: block;
}

.grid{
  display: grid;
}

.addressNumberBtn {
  width: 100px;
  left: 45%;
  transform: translate(-100%, 0%);
}

.interests {
  //width: 400px;
  border-color: #64a346;
  border-width: 3px;
  left: 50%;
  transform: translate(-50%, 0%);
}

.emailInput {
  margin-top: 50px;
}

%placeholder {
  color: black;
  font-weight: bold;
}
.loginBtn, .addressNumberBtn, .signUpBtn {
  background-color: #2E2E2E;
  color: #EBFF00;
  font-weight: bold;
}

.idSearchBtn, .pwSearchBtn {
  background-color: #868686;
}

.loginBtn {
  left: 50%;
  width: 400px;
  transform: translate(-50%, 0%);
}

.idSearchBtn, .pwSearchBtn {
  left: 50%;
  width: 150px;
  transform: translate(-105%, 0%);
}

.idSearchBtn2, .pwSearchBtn2 {
  width: 285px;
  background-color: #868686;
  color: white;
}

.idSearchBtn {
  margin-right: 20px;
}

.tabBorder {
  border-radius: 8px 8px 8px 8px;
  border: 1px solid black;
  width: 440px;
  margin: 20px auto 0;
  background-color: white;
}

.ant-tabs-tab{
  width: 219px!important;
  border: solid 1px #64a346;
  background-color: white;
}

.ant-tabs-content{
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
}
