.profile {
  display: inline-flex;
  left: 50%;
  //transform: translate(-50%, 0%);
  width: 500px;
  align-content: center;
  justify-content: center;
}

.profileText {
  display: block;
  margin-left: 50px;
  margin-top: 40px;
}

.myPageTab {
  margin-left: 30px;
}

.ant-card {
  width: 100%;
  display: flex;
  flex-direction: column;

.content {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
  }
}

